body{
    margin: 0;
    background-color: #001f3f;
    color: #ffffff;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.banner .content .title{
    font-family: 'Hallowed Grounds';
    font-size: 6rem;
}
.banner::before{
    content: '';
    position: absolute;
    inset: 0;
    background-image: url(Wild_style_graffiti_lettering_06943d8c.png);
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url(ink_lv2.gif);
    mask-size: cover;
}
